a:hover {
	text-decoration: none;
	color: #606080 !important
}

#search {
	margin: auto auto 5px auto;
}

#main {
	padding-top: 60px;
	margin: 0 auto 20px auto;
}

.job-detail {
	margin: 0 0 20px 0;
	padding: 10px 10px 10px 0;
	border-top: 1px solid #E4E4E4;
}

#searchCriteria {
	width: "80%"
}

.award-detail {
	margin: 0 0 20px 0;
	padding: 10px 10px 10px 0;
	border: 1px solid #E4E4E4;
}

.even-tr {
	background-color: gray
}

.job-description {
	padding-left: 20px;
	color: #868686
}

.geo-selection {
	padding-left: 20px
}

.top-right {
	position: absolute;
	top: -1px;
	right: 1px;
	color: #999;
	font-size: 12px;
}

.icons {
	background-image: url("../image/neitui-icons-sprite.png");
	background-repeat: no-repeat;
	display: inline-block;
	vertical-align: middle;
	font-size: 0;
	color: rgba(0, 0, 0, 0);
	width: 20px;
	height: 16px;
	background-repeat: no-repeat;
}

.like-no {
	background-position: -450px -300px;
	margin: 0 3px;
	vertical-align: text-bottom;
	width: 16px;
}

.like-yes {
	background-position: -450px -240px;
	height: 17px;
	width: 17px;
}

.backToTop {
	background-image:url(../image/backToTop.png)
	position: absolute;
	bottom: 15px;
	right: 35px;
}