a:hover {
	text-decoration: none;
	color: #606080 !important
}

#search {
	margin: auto auto 5px auto;
}

#main {
	padding-top: 60px;
	margin: 0 auto 20px auto;
}

.job-detail {
	margin: 0 0 20px 0;
	padding: 10px 10px 10px 0;
	border-top: 1px solid #E4E4E4;
}

#searchCriteria {
	width: "80%"
}



ul#jobList{
    list-style:none;
    padding-left:10px;
}

#jobList li{
    padding:20px 0 0 0;
    margin-bottom:10px;
    border-top:1px solid #DDD;
}

.positionBrief{
    position:relative;
}

.positionBrief a,.positionBrief .location{
    margin-right:10px;
}
.positionBrief .location{
    font-size:11px;
}

.positionBrief .releaseDate{
    position:absolute;
    right:10px;
}

.jobDetail .require{
    height:35px;
    overflow:hidden;
}

.require{
    color:#777;
    font-size:11px;
}

.require .require-wording,.require .require-cont{
    float:left;
    display:block;
}

.require .clear{
    clear:both;
}
