a:hover {
	text-decoration: none;
	color: #606080 !important
}

#search {
	margin: auto auto 5px auto;
}

#main {
	padding-top: 60px;
	margin: 0 auto 20px auto;
}

#searchCriteria {
	width: "80%"
}

ul#jobList{
    list-style:none;
    padding-left:10px;
}

#jobList li{
    padding:20px 0 0 0;
    margin-bottom:20px;
    border-top:1px solid #DDD;
    font-size:13px;
}

.positionBrief, companyBrief,require{
    line-height:24px;
    position:relative;
}

.positionBrief a,.positionBrief .location{
    margin-right:10px;
}
.positionBrief .location{
    font-size:11px;
}

.positionBrief .releaseDate{
    position:absolute;
    right:10px;
}

.jobDetail .require{
    height:35px;
    overflow:hidden;
}

.require{
    color:#777;
}

.require .require-wording,.require .require-cont{
    float:left;
    display:block;
}

.require .clear{
    clear:both;
}
